<div class="container home mb-2">
    <div class="col-12 mt-3" >
        <form [formGroup]="searchUser">
          <mat-form-field class="example-full-width">
            <mat-label>Search for user</mat-label>
            <input type="text"  #addRef aria-label="Number" matInput formControlName="userid">
           
          </mat-form-field>
        </form>
      </div>
      <section class="mt-2" *ngIf="isLoading"> 
        <mat-progress-bar color="primary" mode="interminate"></mat-progress-bar>
      </section>

        <div class="row"  *ngIf="users">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3" *ngFor="let user of users[0]">
                <mat-card class="example-card cursor-pointer mt-2 mb-2" [routerLink]="['/user-repositories/' + user.login]">
                        <mat-card-content matTooltip="{{user.login}}">
                            <span class="material-icons">
                                perm_identity
                                </span>
                            user: {{user.login | bcEllipsis: 7}}</mat-card-content>
                      <mat-card-content>
                        node:  {{user.node_id | bcEllipsis: 10}}
                      </mat-card-content>
                    </mat-card>
            </div>
        </div>

        <div class="col-10 mx-auto" *ngIf="users.length <= 0 && !isLoading">
                <span class="message">{{message}}</span>
        </div>
</div>
